

.card-container, .fav-card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fav-card-container {
  background-color: rgb(88, 94, 86);
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.tvshow-title {
  margin-bottom: 1px;
}

.tvshow-card {
  width: 300px;
  text-align: center;
  text-overflow: clip;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.search-bar {
  text-align: center;
  padding: 2rem;
}

.genre-div {
  padding: 2rem;
}

.main {
  align-content: center;
}
