

.card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tvshow-card {
  width: 300px;
  text-align: center;
  text-overflow: clip;
  border-radius: 1rem;
}

.search-bar {
  text-align: center;
  padding: 2rem;
}

.genre-div {
  padding: 2rem;
}

.main {
  align-content: center;
}
